.attraction-content iframe {
    width: 100%;
}

.map-destination {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
.map-destination * {
    box-sizing: border-box;
}
.map-canvas {
    position: fixed;
    background-color: #ccc;
    top: 0;
    right: 0;
    width: calc(100% - 343px);
    height: 100vh;
}
.content-default {
    text-align: center;
}


.map-button {    
    display: inline-block;
    vertical-align: middle;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none!important;
    font-size: 16px;    
    border-radius: 5px;   
    box-shadow: none!important; 
}
.map-button-default {
    background: #fff;
    color: #333!important;
    margin-right: 10px;
    border: solid 1px #ccc;
}
.map-button-default:hover {
    background: #eee;
}
.map-button-danger {
    background: #c71b3f;
    color: #fff!important;
}
.map-button-danger:hover {
    background: #ff053a;
}
.map-button-primary {
    background: #3f51b5;
    color: #fff!important;
}
.map-button-primary:hover {
    background: #2197f3;
}


.map-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.icon-compass {
    background: url(../icons/compass.png) no-repeat;
    width: 32px;
    height: 32px;
}
.icon-street {
    background: url(../icons/street.png) no-repeat;
    width: 32px;
    height: 32px;
}
.icon-settings {
    background: url(../icons/settings.png) no-repeat;
    width: 32px;
    height: 32px;
}



.map-panel {    
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 300px;   
    height: 100%;
    padding: 10px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.map-panel .map-settings-header {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: solid 1px #eee;
    font-weight: 700;
    font-size: 20px;    
    line-height: 100%;
}
.panel-nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none!important;
    color: #4e4f56;
    border: solid 1px #ccc;
    padding: 5px 10px 5px 5px;
    outline: none!important;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
}
.panel-nav:hover,
.panel-nav.active {
    color: #3f51b5!important;
    outline: none!important;
    box-shadow: none!important;

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
.map-panel .map-field {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.map-panel .map-field label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 6px;
    color: #3f51b5;
}
.map-panel .map-field ::placeholder {
    font-size: 22px;
    color: #000;    
}
.map-panel .map-field input[type="text"],
.map-panel .map-field textarea {
    width: 100%;
    font-size: 22px;
    color: #000;    
    padding: 10px!important;
    border: solid 1px #ccc!important;
}
.map-panel h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #3f51b5;
}
.map-panel p {
    font-size: 16px!important;
    margin-bottom: 0!important;
}
.map-panel .map-cta {
    float: left;
    width: 100%;
    text-align: right;
}
.panel-content.hide,
.map-conditional.hide,
.map-toggle.hide,
.map-sub-panel.hide {
    position: fixed;    
    left: -2000px;
    visibility: hidden;
    opacity: 0;
}


.map-toggle-nav {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.map-toggle-nav h2 {
    margin-bottom: 0;
}
.map-toggle-nav p {
    margin-top: 4px;
}
.map-toggle-nav a {
    position: relative;
    display: block;
    min-height: 66px;
    padding: 15px 30px;
    border: solid 1px #ccc;
    text-decoration: none!important;
    color: #333;
    padding-left: 66px;
    margin-bottom: 10px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    box-shadow: none!important; 
}
.map-toggle-nav a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.map-toggle-nav a:after {
    content: '';
    background-image: url(../icons/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    right: -24px;
    width: 64px;
    height: 64px;
    margin-top: -32px;
}
.map-toggle-nav a.active,
.map-toggle-nav a:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
a.toggle-attractions:before {
    background-image: url(../icons/nav-destinations.png);
}
a.toggle-marker:before {
    background-image: url(../icons/nav-marker.png);
}
.shortcut-marker {
    position: relative;
    display: block;    
    padding: 15px 30px;
    border: solid 1px #ccc;
    text-decoration: none!important;
    color: #333;
    padding-left: 56px;
    margin-bottom: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    box-shadow: none!important;
}
.shortcut-marker:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    background-image: url(../icons/nav-marker.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.shortcut-marker:after {
    content: '';
    background-image: url(../icons/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    right: -24px;
    width: 64px;
    height: 64px;
    margin-top: -32px;
}
.shortcut-marker.active,
.shortcut-marker:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}


.map-sub-panel {    
    background: #fff;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 9999999999;
    width: 300px;   
    height: 100%;
    padding: 10px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: solid 1px #ccc;
}
.map-sub-panel.marker {
    width: 350px;
    padding-bottom: 50px;
}


.map-wp-dashbaord {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 9999999999999;
}