.attraction-content iframe {
    width: 100%;
}

.map-canvas {
    position: fixed;
    background-color: #ccc;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100vw;
    max-width: 100%!important;
    height: 100vh;
}
.map-marker-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    overflow-y: auto;
}
.map-marker-popup:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.map-content-wrapper {
    position: relative;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;    
    max-width: 600px;
    padding: 30px;
    margin: 5% auto;    
}
.close-popup-content {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: #fff!important;
    text-decoration: none!important;
    text-transform: uppercase;
    padding: 6px 10px;
    border-radius: 6px;
    line-height: 100%;
}